*{
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: rgb(159, 83, 83);
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: solid black 1px;
  padding: 2%;
  width: 40vw;
}

.auth-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

form > div{
  width: 100%;
}

.auth-container > button {
  margin-top: 10px;
  color: white;
}



nav{
  display: flex;
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: 400;
  font-style: normal;
  justify-content: space-between;
  padding: 1%;
  background-color: slategrey;
  color: white;
  border-bottom: solid black 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 5vh;
}

.home{
  padding: 1%;
}

.check-email{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(159, 83, 83);
  font-family: fantasy;
  
}

.message-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  padding: 1.5%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.form-button{
  background-color: white;
}

.auth-container > * {
  padding: 2%;
}

.email-confirmed{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.email-confirmed > div {
  padding: 1%;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.email-confirmed > div > * {
  padding: 1.5%;
}


.user-setup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.user-setup > form > * {
  padding: 1%;
}

.user-setup > form {
  height: 50%;
}